<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/login_base :: layout(~{::ueditor})}">
<div th:fragment="ueditor">
    <div class="baidu_ueditor">
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">这里写你的初始化内容</script>
        <!-- 配置文件 -->
        <script type="text/javascript" src="/ueditor1.4.3.3/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="/ueditor1.4.3.3/ueditor.all.js"></script>
        <script type="text/javascript">
            UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
            UE.Editor.prototype.getActionUrl =
                function (action) {
                    if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                        return 'http://localhost:8080/imgUpload';
                        //'http://localhost:8080/imgUpload';为方法imgUpload的访问地址 }
                    else
                        {
                            return this._bkGetActionUrl.call(this, action);
                        }
                    }
                }
        </script>

        <!-- 实例化编辑器 -->
        <script th:inline="javascript" type="text/javascript">
            var ue = UE.getEditor('container');

            function saveArticle() {
                var url = "/saveArticle";
                var txt = ue.getPlainTxt();
                var index = txt.indexOf("\n");
                if (index != -1) txt = txt.slice(0, index);

                var article = {
                    "content": ue.getContent(),
                    "author": [[${user.id}]],
                    "title": txt
                };
                $.post(url, article, function (data, status) {
                    alert(data.msg);
                }, "json")
            }
        </script>
    </div>
    <div>
        <button onclick="saveArticle()">保存</button>
    </div>
</div>
</html>